*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-image:url('./daniel-leone-v7daTKlZzaw-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}

main{
  background: #071B1E;
  padding-inline: 2em;
  padding-block: 2em;
  border: white 1px solid;
  color: white;
  background-image: radial-gradient(" red, transparent");
}

.add{
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-block-start: 2em;
}

#fadd-task{
  padding: 0.75em;
  border:none;
  border-radius: 30px;
  outline: none;
}



.plus{
  align-self: center;
  
}

.plus:before{
  padding-inline: 1em;
  padding-block: 0.75em;
  background: gray;
  cursor: pointer;
}