*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(7, 27, 30);
  --secondary-color: white;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url("./daniel-leone-v7daTKlZzaw-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.container {
  background-image: radial-gradient(
    circle,
    rgba(128, 128, 128, 0.144),
    rgba(0, 0, 0, 0.199)
  );
  padding-inline: 2em;
  padding-block: 2em;
  border: var(--secondary-color) 1px solid;
  color: var(--secondary-color);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 1em;
}

.add {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-block: 2em;
}

#fadd-task {
  padding: 0.75em;
  height: auto;
  border: none;
  border-radius: 30px;
  outline: none;
}

#plus:before {
  padding-inline: 1em;
  padding-block: 0.75em;
  background: gray;
  cursor: pointer;
  width: 2.25em;
  height: 2.25em;
  border-radius: 50%;
  background: #777;
  display: flex;
  align-items: center;
  justify-content: center;
}

#task-preview {
  padding-block: 1em;
}

.list-style {
  margin-block-end: 0.5em;
  background: aliceblue;
  color: black;
  padding: 0.5em;
  list-style-type: none;
  border-radius: 2em;
}
